@import "../common";

.row .col {
  padding: 0 5px 0 0;
}

#data {
  display: none;

  .table {
    margin-bottom: 0px;
  }
}

h5 {
  margin: 45px 0 -7px 0;
}

#kubeconfig {
  font-size: 0.8rem;
  line-height: 0.9rem;
  min-height: 170px;
}

::placeholder {
  color: #c9c9c9 !important;
  opacity: 1;
}
