$app-color: #3d8cef;
$app-color-background: #eee;
$app-color-background-selector: #f1f1f1;
$app-color-text: #848484;
$app-color-text-sub: #555;
$app-color-text-warn: #f17373;

@mixin box-shadow() {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}
@mixin box-shadow-popup() {
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

body {
  background-color: #eee;
}

.row-header {
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.row-body {
  background-color: #fbfbfb;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.navbar-nav {
  .dropdown-menu {
    background-color: white;
  }
  >.user-menu .user-image {
      margin-right: 4px;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.main-header .sidebar-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.sidebar-menu {
  .fas {
    font-size: 0.9rem;
  }
}
.collapsible-header i {
  float: left;
}
.user-footer {
  -webkit-box-shadow: 5px 5px 12px 0px rgba(107,107,107,1);
  -moz-box-shadow: 5px 5px 12px 0px rgba(107,107,107,1);
  box-shadow: 5px 5px 12px 0px rgba(107,107,107,1);

  &>div:hover {
    background-color: #eeeeee;
  }
  a:hover {
    background-color: #eeeeee;
    color: #878787 !important;
  }
}

.container form .select-dropdown {
  font-size: 1rem;
}

h5 {
  margin: 0 0 10px 0;
}

a {
  color: $app-color;
}

.app-hidden {
  display: none;
}

.break {
  display: block;
  height: 1px;
  width: 100%;
  clear: both;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  position: relative;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  &.main {
    margin-top: 15px;

    >.row >.col {
      padding: 0px 1%;
      background-color: #dcdcdc;
    }
  }

  > .row {
    margin-bottom: 0;
    clear: both;

    > .col {
      background-color: transparent;
      margin: 0;
      padding: 3% 5% 5% 5%;
    }
  }
  #data .row {
    margin: 0;

    .col {
      white-space: nowrap;
    }
  }
  .select-wrapper input.select-dropdown {
    padding-left: 7px;
  }
  textarea:disabled, input:disabled,
  textarea[readonly="readonly"], input[readonly="readonly"],
  .select-wrapper input.select-dropdown:disabled {
    color: gray;
  }
}

.content-header {
  position: relative;
  z-index: 1000;

  .input-field {
    margin-top: 0;
  }

  > .row {
    margin-bottom: 0;

    > .col {
      @include box-shadow();
      background-color: white;
      padding: 5% 5% 0 5%;
    }
  }
}

.container form {
  .row {
    margin: 0;

    .col {
      padding-left: 0;
    }
    textarea {
      min-height: 125px;
      outline: none;
      padding: 5px 10px;
      font-size: 1.2rem;
      line-height: 1.8rem;
      border: 1px solid rgb(210, 210, 210);
    }
  }
  .input-field {
    &.thin-input {
      margin-top: 5px;
    }
    &.inline.thin-input input, &.inline.thin-input .select-dropdown {
      margin-bottom: 0;
    }
    input:not([type]), input[type=text], input[type=password], input[type=email],
    input[type=url], input[type=time], input[type=date], input[type=datetime],
    input[type=datetime-local], input[type=tel], input[type=number],
    input[type=search], textarea.materialize-textarea {
      border-bottom-color: transparent !important;
      box-shadow: none !important;
      padding: 0 0 0 1rem;
      margin-bottom: 0;
      color: $app-color-text;
    }
    &.without-icon {
      input:not([type]), input[type=text], input[type=password], input[type=email],
      input[type=url], input[type=time], input[type=date], input[type=datetime],
      input[type=datetime-local], input[type=tel], input[type=number],
      input[type=search], textarea.materialize-textarea {
        width: 95%;
        width: calc(100% - 1rem);
      }
    }
    .prefix {
      font-size: 1rem;
      height: 3rem;
      width: 1.5rem;
      line-height: 3rem;
      padding: 0 0 0 13px;
      color: $app-color-text;

      &.material-icons {
        font-size: 21px;
        padding-left: 7px;
      }
    }
    .prefix ~ input, .prefix ~ textarea,
    .prefix ~ label, .prefix ~ .validate ~ label,
    .prefix ~ .autocomplete-content {
      margin-left: 0;
      padding: 0 0 0 2.5rem;
      width: calc(100% - 2.5rem);
    }
    &.col label {
      left: 0;
    }
    label {
      color: #848484;
      font-weight: normal;
    }
    input[type=text]:focus + label {
      color: #67a0e6;
    }
    .select-wrapper {
      input.select-dropdown {
        border-bottom-color: transparent;
        color: $app-color-text;
        padding: 0 0 0 7%;
        width: 93%;
      }
      .dropdown-content li > a,
      .dropdown-content li > span {
        color: $app-color-text;
      }
      .select-dropdown li.disabled,
      .select-dropdown li.disabled > span,
      .select-dropdown li.optgroup {
        cursor: default;
        color: rgba(0, 0, 0, 0.3);
      }
      span.caret {
        color: $app-color-text;
        font-size: 12px;
        top: 7px;
        right: 7px;
        z-index: 1;
      }
    }
    .select-wrapper input.select-dropdown {
      height: 3rem;
    }
    &.to-center .select-wrapper input.select-dropdown {
      text-align: center;
    }
    &.app-input-silver {
      input:not([type]), input[type=text], input[type=password], input[type=email],
      input[type=url], input[type=time], input[type=date], input[type=datetime],
      input[type=datetime-local], input[type=tel], input[type=number],
      input[type=search], textarea.materialize-textarea {
        background-color: $app-color-background !important;
      }
      .prefix {
        background-color: $app-color-background !important;
      }
      .select-wrapper {
        input.select-dropdown {
          background-color: $app-color-background;
        }
      }
    }
  }
}

.app-text {
  color: $app-color-text;
}
.app-text-warn {
  color: $app-color-text-warn;
}

.collection {
  border-color: transparent;

  .collection-item {
    background-color: transparent;
    border-color: transparent;

    &.active {
      padding-left: 20px;
    }
  }
  a.collection-item {
    color: $app-color-text;
    padding-left: 0;

    &.disabled, &.disabled:not(.active):hover {
      cursor: default;
      font-size: 1.2rem;
      line-height: 2.5rem;
      background-color: white;
    }
  }
}

#toast-container {
  margin: -20px -20px 0 0;
}

.prefix ~ .select-wrapper {
  margin-left: 1.75rem;
  width: initial;
}

form {
  &.horizontal-inputs {
    .form-group label {
      font-size: 1rem;
      margin-top: 10px;
      font-weight: initial;
      color: #333;
      padding-left: 0;
    }
  }
  .form-group span {
    font-size: 1rem;
    color: #333;
  }
  p.errors {
    margin-top: -13px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #dc6161;
  }
  .form-group p.errors span {
    color: #dc6161;
  }
}
input.silent-bottom-color {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 0 0 0 transparent !important;
}
input.transparent-bottom-color {
  border-bottom: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}
.clear-both {
  display: block;
  height: 1px;
  width: 100%;
  clear: both;
}

.modal.popup-dialog {
  h5 {
    margin: 0.3rem 10px;
  }
  .input-field {
    width: 100%;
  }
  a.btn.cancel {
    float: right;
    margin: -35px 10px 0 0;
    background-color: #f7f7f7 !important;

    i {
      color: #bdbdbd;
    }
  }
  .modal-footer {
    text-align: left;

    .btn, a.btn.cancel {
      margin: 0 10px 0 0;
    }
  }
}

footer {
  font-size: 0.8rem;

  .row .col {
    padding: 0 5% 40px 5%;
  }
}

.material-tooltip {
  display: none !important;
}

.picker--opened .picker__holder {
  background-color: transparent;

  .picker__frame {
    top: 10%;
    left: 0;
    margin: 0;

    .picker__box {
      border: 0;
      background-color: $app-color-background-selector;
      @include box-shadow-popup();

      .picker__date-display, .picker__footer {
        display: none;
      }

      .picker__calendar-container {
        .picker__header {
          color: #595959;

          .picker__select--year.browser-default {
            width: 25%;
            border: 0;
            outline: 0;
            background-color: $app-color-background-selector;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
          }
          .picker__select--month.browser-default {
            width: 15%;
            border: 0;
            outline: 0;
            background-color: $app-color-background-selector;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
          }
          .picker__nav--next {
            right: -0.4em;
          }
          .picker__nav--prev:hover,
          .picker__nav--next:hover {
            background-color: $app-color-background-selector;
          }
          .picker__nav--prev:before, .picker__nav--next:before {
            display: none;
          }
        }
        .picker__table {
          .picker__day--infocus {
            background-color: #EEE;
            border-color: transparent;
            margin-left: 1px;
            margin-top: 1px;
          }
          .picker__day--selected, .picker__day--selected:hover,
          .picker--focused .picker__day--selected {
            background-color: $app-color;
          }
          .picker__day--disabled, .picker__day--disabled:hover,
          .picker--focused .picker__day--disabled {
            background-color: #EEE;
            border-color: transparent;
            margin-left: 1px;
            margin-top: 1px;
            color: #d0d0d0;
          }
        }
      }
    }
  }
}

.collapsible-body {
  background-color: #fbfbfb;
}

.app-popups {
  position: absolute;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;

  >.app-popups-backgroud {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: auto;

    >div {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      min-height: 100px;
      max-height: 400px;
      overflow-y: auto;
      padding: 5px 12px;
      background-color: $app-color-background-selector;
      @include box-shadow-popup();
    }
    ul {
      margin: 0;

      li {
        margin-top: 3px;

        ul {
          margin: 7px 0 10px 40px;
        }
      }
      // li:first-child {
      //   margin-top: 0;
      // }
      a {
        color: $app-color-text;
      }
      a:hover, a:active, a.active {
        color: $app-color;
      }
    }
  }
}

.content-wrapper {
  a.btn {
    color: #e4e4e4;
    padding: 0 16px;
    margin-top: -4px;
    font-size: 0.8rem;
    line-height: 25px;
    height: 26px;
  }
  a.btn:hover, a.btn:active {
    color: white;
  }
  a.btn.disabled {
    background-color: #DFDFDF !important;
  }
}

.collapsible-header.row {
  margin-bottom: 0;
}

#data {
  .btn.inline-btn {
    margin-top: -5px;
    padding: 0px 11px;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
  }
  li > div {
    cursor: default;
  }
  li > div:nth-last-of-type(2) {
    cursor: pointer;
  }
}

.modal-overlay {
  z-index: 10000 !important;
}
.modal {
  z-index: 10001 !important;

  .modal-footer {
    padding: 1rem 5%;
  }
}

a.btn.submit {
  background-color: #1976D2 !important;
  color: #e4e4e4;
}
a.btn.submit:hover, a.btn.submit:active {
  color: white;
}
a.btn.submit.disabled:hover {
  background-color: #DFDFDF !important;
}
a.btn.cancel {
  background-color: white !important;
  color: #868686;
}
a.btn.cancel:hover, a.btn.cancel:active {
  color: #666;
}
a.btn.cancel.disabled {
  background-color: #DFDFDF !important;
}

form .btn.waves-effect.waves-light {

  &:hover, &:active, &:focus {
    color: white;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1,
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 7px;
  padding-left: 8px;
}

@media (max-width: 600px) {
  .content-header {
    padding-top: 0;

    > .row {
      > .col {
        padding: 8% 7% 0 8%;
      }
    }
    form {
      .row .col {
        padding: 0;
      }
    }
  }
  .container {
    width: 100%;

    &.main {
      margin-top: 5px;
    }
    form {
      .row .col.app-input-silver {
        @include box-shadow();
        background-color: #f7f7f7;
        width: 98%;
        padding: 5px 0;
      }
      .input-field {
        &.app-input-silver {
          input:not([type]), input[type=text], input[type=password], input[type=email],
          input[type=url], input[type=time], input[type=date], input[type=datetime],
          input[type=datetime-local], input[type=tel], input[type=number],
          input[type=search], textarea.materialize-textarea {
            background-color: inherit !important;
          }
          .prefix {
            background-color: inherit !important;
          }
          .select-wrapper {
            input.select-dropdown {
              background-color: inherit;
            }
          }
        }
      }
    }
  }
  .row .col.records {
    padding: 0 5%;
  }
  .card {
    margin-bottom: 3px;

    .row .col {
      padding: 0;
    }
    .row.app-sub-item {
      padding: 10px 13px 5px 16px;
    }
    .card-content {
      .card-description {
        margin-right: 15px;
      }
    }
    .app-sub-item {
      .card-title {
        margin: 7px 15px 0 26px;
      }
    }
    .row.app-sub-item {
      margin-top: 11px;

      a {
        color: $app-color;
      }
      .card-title {
        font-size: 0.9rem;
        margin: 0 9px 0 12px;
      }
      .app-sp-icons {
        float: left;
        margin-top: 5px;

        .material-icons {
          top: 0px;
          left: -4px;
          font-size: 17px;
          color: gray;
        }
        .app-price {
          margin: 0 11px 0 16px;
        }
      }
    }
    .card-content .input-field.app-option {
      > div {
        margin: 2px -1px 0 -4px;
        float: left;
      }
      &:not(:last-child):after {
        content: "ãƒ»";
      }
    }
  }
  .collection {
    @include box-shadow();
    margin-bottom: 35px;

    .collection-item {
      background-color: white;
      border-color: #e0e0e0;
    }
    a.collection-item {
      padding-left: 20px;
    }
  }
  #pagination-wrapper {
    padding: 17px 5% 15px 5%;
  }
  .pagination li a {
    padding: 0 6px;
  }
  footer {
    .container>.row>.col {
      padding: 3% 5% 5px 5%;
    }
  }
}

@media (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 33px;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  #data {
    min-height: 280px;
  }
  .card {
    .row .col {
      padding: 0;
    }
    .card-content {
      .card-description {
        margin-right: 15px;
      }
    }
    .app-sub-item {
      .card-title {
        margin: 7px 15px 0 26px;
      }
    }
  }
}

@media (min-width: 993px) {
  #data {
    min-height: 280px;
  }
  .container {
    min-width: 700px;
    width: 95%;
  }
  .card {
    .row .col {
      padding: 0;
    }
    .card-content {
      .card-description {
        margin-right: 15px;
      }
    }
    .app-sub-item {
      .card-title {
        margin: 7px 15px 0 26px;
      }
    }
  }
}
